body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}

input {
    height: 60px;
    width: 120px;
    font-size: large;
    text-align: center;
}

button {
    padding: 20px 30px;
    background: orange;
    color: white;
    border: none;
    border-radius: 1em;
    font-size: large;
    transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: lightsalmon;
    transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
}

.refreshKnop {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    width: 9em;
    height: 3em;
    border-radius: 1em;
    font-size: medium;
    text-align: center;
    transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
}

.refreshKnop:hover {
    color: rgb(255, 255, 255);
    transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
}
